spark_stream.pdf
/bin/
.cache-main
.classpath
.project
.settings
project/*
target/*
*.DS_Store
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
